<h1 class="sub-header"><a href="http://{{domain.url}}" target="_blank">{{domain.url}}</a></h1>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form name="status" class="form-horizontal" novalidate>
      <div class="form-group">
        <label for="selectStatus" class="col-sm-3 control-label">Статус</label>
        <div class="col-sm-5">
          <select id="selectStatus" name="status" class="form-control" ng-model="task.status">
            <option value="0">Не задан</option>
            <option value="1">Перезвонить</option>
            <option value="2">На контроле</option>
            <option value="3" ng-if="domain.assistant === 5  &&  (domain.status_curent.status == '1' || domain.status_curent.status == '2' || domain.status_curent.status == '3' || domain.status_curent.status == '5')">Установлен</option>
            <option value="4" ng-if="domain.assistant !== 5 && domain.assistant.status_curent.status === 3" >Снят</option>
            <option value="5">Отказ</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="(task.status == 1) || (task.status == 2)">
        <label for="inputDate" class="col-sm-3 control-label">Дата повторного звонка:</label>
        <div class="col-sm-5">
          <div class='input-group date' id='datetimepicker3'>
            <input type='text' class="form-control datepicker" id="taskDate" ng-model="task.date" data-provide="datepicker" data-date-format="DD.MM.YYYY HH:mm" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datetimepicker3').datetimepicker();
          });
        </script>
      </div>
      <div class="form-group" ng-show="task.status">
        <label for="inputName" class="col-sm-3 control-label">Имя</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputName" name="name" ng-model="task.name">
        </div>
      </div>
      <div class="form-group" ng-show="task.status || domain.status_curent.phone">
        <label for="inputPhone" class="col-sm-3 control-label">Телефон</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputPhone" name="phone" ng-model="task.phone">
        </div>
      </div>
      <div class="form-group" ng-show="task.status">
        <label for="inputEmail" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputEmail" name="email" ng-model="task.email">
        </div>
      </div>
              <div class="form-group" ng-show="(task.status == 1) || (task.status == 2) || (task.status == 5)">
	<label for="inputComment" class="col-sm-3 control-label">Коментарий</label>
        <div class="col-sm-5">
          <textarea id="inputComment" rows="5" class="form-control" name="comment" ng-model="task.comment"></textarea>
        </div>
      </div>
      <div class="col-sm-offset-3 col-sm-2">
        <button ng-click="change(task)" class="btn btn-primary">Изменить</button>
      </div>
    </form>
  </div>
  <div class="table-responsive" ng-if="domain.status_history[0].ts">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            <strong>История изменений:</strong>
          </td>
        </tr>
        <tr>
          <th>Дата</th>
          <th>Статуса</th>
          <th>Доп. информация</th>
          <th>Пользователь</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="status in domain.status_history">
          <td>{{status.ts}}</td>
          <td>{{status.status}}</td>
          <td>
            <p ng-show="status.name || status.phone || status.email || status.comment">
              <text ng-if="status.name">Контакт: {{status.name}}</text>
              <text ng-if="status.phone">
                <br ng-if="status.name" />Телефон: {{status.phone}}</text>
              <text ng-if="status.email">
                <br ng-if="status.name || status.phone" /> Email: {{status.email}}</text>
              <text ng-show="status.comment">
                <br ng-if="status.name || status.phone || status.email" />{{status.comment}}</text>
            </p>
          </td>
          <td>{{status.login}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-body">
    Всего <strong>{{domain.history.length}}</strong> проходов. Последнее обновление <strong>{{domain.last_update}}</strong>.
    Консультант: <strong>{{domain.assistant}}</strong>, CMS: <strong>{{domain.cms}}</strong>, Звонилка: <strong>{{domain.call}}</strong>. <a href="" ng-click="togleHistory()">{{historyControl}}<a>
  </div>
  <div class="table-responsive" ng-show="showHistory">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Дата парсинда</th>
          <th>Консультант</th>
          <th>CMS</th>
          <th>Звонилка</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="parse in domain.history">
          <td>{{parse.ts}}</td>
          <td>{{parse.assistant}}</td>
          <td>{{parse.cms}}</td>
          <td>{{parse.call}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

