<h1 class="sub-header">Список доменов.</h1>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p ng-show="domains.count">По запросу найдено {{domains.count}} доменов.</p>
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputDomain" class="col-sm-2 control-label">Домен</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="inputDomain" ng-model="filters.domain" placeholder="example.com">
        </div>
      </div>
      <div class="form-group">
        <label for="selectCMS" class="col-sm-2 control-label">CMS</label>
        <div class="col-sm-3">
          <select id="selectCMS" class="form-control" ng-model="filters.cms">
            <option value="">---</option>
            <option value="0">Нет</option>
            <option value="1">1C Bitrix</option>
            <option value="2">Drupal</option>
            <option value="3">WordPress</option>
            <option value="4">Joomla</option>
            <option value="5">MODx</option>
          </select>
        </div>
        <label for="selectAssistant" class="col-sm-1 control-label">Асистент</label>
        <div class="col-sm-3">
          <select id="selectAssistant" class="form-control" ng-model="filters.assistant">
            <option value="">---</option>
            <option value="0">Нет</option>
            <option value="1">JivoSite</option>
            <option value="2">RedHelper</option>
            <option value="3">Livetex</option>
            <option value="4">LiveChat</option>
            <option value="5">Regidium</option>
            <option value="6">Krible</option>
            <option value="7">Marva</option>
            <option value="8">SiteHeart</option>
            <option value="9">Netrox SC</option>
            <option value="10">Chatra.io</option>
            <option value="11">Me-talk.ru</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="selectCall" class="col-sm-2 control-label">Звонилка</label>
        <div class="col-sm-3">
          <select id="selectCall" class="form-control" ng-model="filters.call">
            <option value="">---</option>
            <option value="0">Нет</option>
            <option value="1">Callbackhunter</option>
            <option value="2">Perezvonim</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBeginDate" class="col-sm-2 control-label">Дата регистрации с</label>
        <div class="col-sm-3">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" id="inputBeginDate" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datetimepicker1').datetimepicker({
              format: "DD.MM.YYYY"
            });
          });
        </script>
        <label for="inputEndDate" class="col-sm-1 control-label">по</label>
        <div class="col-sm-3">
          <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" id="inputEndDate" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datetimepicker2').datetimepicker({
              format: "DD.MM.YYYY"
            });
          });
        </script>
      </div>
      <div class="form-group">
        <label for="inputRequestTimeBegin" class="col-sm-2 control-label">Время ответа от</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputRequestTimeBegin" placeholder="1.5">
        </div>
        <label for="inputRequestTimeEnd" class="col-sm-1 control-label">до</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputRequestTimeEnd" placeholder="5.3">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <a class="btn btn-default" ng-click="serFilter(filters)">Задать фильтр</a>
        </div>
      </div>
    </form>
  </div>
  <div ng-if="domains">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Домен</th>
          <th>Регистрации</th>
          <th>Консультант</th>
          <th>CMS</th>
          <th>Звонилка</th>
          <th>Время ответа</th>
          <th>Обновление</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{warning: domain.status_curent}" ng-repeat="domain in domains.list">
          <td><small><a href="#/domain/{{domain.url}}">{{domain.url}}</a></small></td>
          <td><small>{{domain.reg_date}}</small></td>
          <td><small>{{domain.assistant}}</small></td>
          <td><small>{{domain.cms}}</small></td>
          <td><small>{{domain.call}}</small></td>
          <td><small>{{domain.request_time}}</small></td>
          <td><small>{{domain.last_update}}</small></td>
        </tr>
      </tbody>
    </table>
    <div class="panel-footer">
      <div class="text-center">
        <nav>
          <ul class="pagination">
            <li ng-repeat="page in domains.pagination" ng-class="{active: (page === domains.page_id)}">
              <a href="" ng-click="getPage(1)" aria-label="First" ng-if="page == '<'">
                <span aria-hidden="true">&laquo;</span>
              </a>
              <a href="" ng-click="getPage(domains.total_page)" href="#" aria-label="Last" ng-if="page == '>'">
                <span aria-hidden="true">&raquo;</span>
              </a>
              <a href="" ng-if="page === domains.page_id" ng-model="active">{{page}}</a>
              <a href="" ng-click="getPage(page)" ng-if="(page !== '>') && (page !== '<') && (page !== domains.page_id)">{{page}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div ng-if="!domains">
    <div class="text-center">
      <h4>Идет загрузка списка...</h4>
    </div>
  </div>
</div>
