<h1 class="sub-header">Ошибки парсинга.</h1>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p ng-show="domains.count">По запросу найдено {{domains.count}} ошибок.</p>
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputDomain" class="col-sm-2 control-label">Домен</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="inputDomain" name="domain"  ng-model="filters.domain" placeholder="example.com">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <input class="btn btn-default" ng-click="serFilter(filters)" value="Задать фильтр">
        </div>
      </div>
    </form>
  </div>
  <div ng-if="domains">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Домен</th>
            <th>Дата парсинга</th>
            <th>Код ошибки</th>
            <th>Сообщение</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="domain in domains.list">
            <td><small><a href="#/domain/{{domain.url}}">{{domain.url}}</a></small></td>
            <td><small>{{domain.last_update}}</small></td>
            <td><small>{{domain.status}}</small></td>
            <td><small>{{domain.error_message}}</small></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <div class="text-center">
        <nav>
          <ul class="pagination">
            <li ng-repeat="page in domains.pagination" ng-class="{active: (page === domains.page_id)}">
              <a href="" ng-click="getPage(1)" aria-label="First" ng-if="page == '<'">
                <span aria-hidden="true">&laquo;</span>
              </a>
              <a href="" ng-click="getPage(domains.total_page)" href="#" aria-label="Last" ng-if="page == '>'">
                <span aria-hidden="true">&raquo;</span>
              </a>
              <a href="" ng-if="page === domains.page_id" ng-model="active">{{page}}</a>
              <a href="" ng-click="getPage(page)" ng-if="(page !== '>') && (page !== '<') && (page !== domains.page_id)">{{page}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div ng-if="!domains">
    <div class="text-center">
      <h4>Идет загрузка списка...</h4>
    </div>
  </div>
</div>
