<div id="content" class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <form name="loginform" novalidate>
              <h3 class="registration" align="center">Вход</h3>
              <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
              <div class="form-group registration">
                <input type="text" class="form-control" ng-model="user.login" maxlength="100" id="InputEmail" name="login" placeholder="Имя пользователя" accountname>
                <div class="alert alert-danger" role="alert" ng-show="loginform.login.$error.accountname">Не верно введен логин.</div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" maxlength="20" ng-model="user.password" id="InputPassword" placeholder="Пароль" name="password" password>
                <div class="alert alert-danger" role="alert" ng-show="loginform.password.$error.password">Не верно введен пароль.</div>
              </div>
              <p align="center">
                <button ng-click="login(user)" class="btn btn-primary">Войти</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
