<div class="container-fluid">
<h1 class="page-header">Статистика</h1>
<div class="row">
  <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
  <form class="form-inline">
    <div class="form-group">
      <label for="inputBeginDate">Период </label>
      <div class='input-group date' id='datetimepicker4'>
        <input type='text' class="form-control" id="inputBeginDateStat" ng-model="filters.begin_reg_date" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $('#datetimepicker4').datetimepicker({
          format: "DD.MM.YYYY"
        });
      });
    </script>
    <div class="form-group">
      <label for="inputEndDate">-</label>
      <div class='input-group date' id='datetimepicker5'>
        <input type='text' class="form-control" id="inputEndDateStat" ng-model="filters.end_reg_date" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $('#datetimepicker5').datetimepicker({
          format: "DD.MM.YYYY"
        });
      });
    </script>
    <div class="form-group">
      <a class="btn btn-default" ng-click="serFilter()">Задать фильтр</a>
    </div>
  </form>
</div>

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Общая статистика опроса сайтов</h3>
  </div>
  <div class="panel-body">
     <div id="total_stat"  style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Онлайн консультанты</h3>
  </div>
  <div class="panel-body">
     <div id="assistant"  style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CMS</h3>
  </div>
  <div class="panel-body">
      <div id="cms"  style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Звонилки</h3>
  </div>
  <div class="panel-body">
      <div id="call" style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Домены</h3>
  </div>
  <div class="panel-body">
      <div id="domains" style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Домены</h3>
  </div>
  <div class="panel-body">
      <div id="total_dom"  style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Онлайн консультанты</h3>
  </div>
  <div class="panel-body">
     <div id="assistant_pie"  style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CMS</h3>
  </div>
  <div class="panel-body">
     <div id="cms_pie"  style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Звонилки</h3>
  </div>
  <div class="panel-body">
     <div id="call_pie"  style="width:100%; height:400px;"></div>
  </div>
</div>
</div>

</div>
<!-- /row -->
</div>
<!-- /container -->
 