<h1 class="sub-header">Мои задачи</h1>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="selectStatus" class="col-sm-2 control-label">Статус</label>
        <div class="col-sm-3">
          <select id="selectStatus" name="status" class="form-control" ng-model="task.status">
            <option value="1">Перезвонить</option>
            <option value="2">На контроле</option>
            <option value="3">Установлен</option>
            <option value="4">Снят</option>
            <option value="5">Отказ</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="task.status ==1">
        <div class="col-sm-3 col-sm-offset-2">
          <select id="selectStatus" ng-model="task.overtime"name="taskStatus" class="form-control">
            <option selected value="0">Все</option>
            <option value="1">Просроченные</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBeginDate" class="col-sm-2 control-label">Фильтр с</label>
        <div class="col-sm-3">
          <div class='input-group date' id='datetimepicker7'>
            <input type='text' class="form-control" id="dp7" ng-model="tast.beginDate" ng-change id="inputBeginDate" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <label for="inputEndDate" class="col-sm-1 control-label">по</label>
        <div class="col-sm-3">
          <div class='input-group date' id='datetimepicker8'>
            <input type='text' class="form-control" id="dp8" id="inputEndDate" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#datetimepicker7').datetimepicker({
              format: "DD.MM.YYYY"
            });
            $('#datetimepicker8').datetimepicker({
              format: "DD.MM.YYYY"
            });
            $('#selectStatus').change(function() {
              var today = new Date;
              switch ($(this).val()) {
                case '1':
                  $('#dp7').val(moment(today).format("DD.MM.YYYY"));
                  $('#dp8').val(moment(today).format("DD.MM.YYYY"));
                  break;
                case '2':
                  $('#dp7').val(moment(today).format("DD.MM.YYYY"));
                  $('#dp8').val(moment(today).format("DD.MM.YYYY"));
                  break;
                case '3':
                  $('#dp7').val(moment(today).subtract(1, 'months').format("DD.MM.YYYY"));
                  $('#dp8').val(moment(today).format("DD.MM.YYYY"));
                  break;
                case '4':
                  $('#dp7').val(moment(today).subtract(1, 'months').format("DD.MM.YYYY"));
                  $('#dp8').val(moment(today).format("DD.MM.YYYY"));
                  break;
                case '5':
                  $('#dp7').val(moment(today).subtract(1, 'months').format("DD.MM.YYYY"));
                  $('#dp8').val(moment(today).format("DD.MM.YYYY"));
                  break;
              };
            })
          });
        </script>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <a class="btn btn-default" ng-click="serFilter(filters)">Задать фильтр</a>
        </div>
      </div>
    </form>
  </div>
  <div ng-if="tasks">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Время</th>
          <th>Домен</th>
          <th>Контакт</th>
          <th>Телефон</th>
          <th>Email</th>
          <th>Комментарий</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasks | taskFilter:[task.status,task.overtime]">
          <td>
            <small>{{task.dateView}}</small>
          </td>
          <td>
            <small><a href="#/domain/{{task.url}}">{{task.url}}</a></small>
          </td>
          <td>
            <small>{{task.name}}</small>
          </td>
          <td>
            <small>{{task.phone}}</small>
          </td>
          <td>
            <small>{{task.email}}</small>
          </td>
          <td>
            <small>{{task.comment}}</small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="!tasks">
    <div class="text-center">
      <h4>Идет загрузка списка...</h4>
    </div>
  </div>
</div>

