<h1 class="sub-header">Управление пользователями</h1>
<p>{{data.parser_status}}</p>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form name="userform" class="form-horizontal" novalidate>
      <div class="form-group">
        <label for="inputDomain" class="col-sm-3 control-label">Полное имя</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputName" ng-model="user.name" name="name" username>
        </div>
        <div class="col-sm-4" ng-show="userform.name.$error.username">
          <div class="alert alert-danger" role="alert">Не верно введено имя.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDomain" class="col-sm-3 control-label">Имя аккаунта</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputLogin" ng-model="user.login" name="login" accountname>
        </div>
        <div class="col-sm-4" ng-show="userform.login.$error.accountname">
          <div class="alert alert-danger" role="alert">Не верно введен логин.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDomain" class="col-sm-3 control-label">Пароль</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="inputPassword" ng-model="user.password" name="password" password>
        </div>
        <div class="col-sm-4" ng-show="userform.password.$error.password">
          <div class="alert alert-danger" role="alert">Не верно введен пароль.</div>
        </div>
      </div>
      <div class="col-sm-offset-3 col-sm-2">
        <button ng-click="save(user)" class="btn btn-primary">Сохранить</button>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Полное имя</th>
          <th>Учетная запись</th>
          <th>Управление</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in data.list">
          <td><a href="#/user/{{user.login}}">{{user.name}}</a></td>
          <td>{{user.login}}</td>
          <td>
            <a ng-click="remove(user.login)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <a ng-click="edit(user.login)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
